<nav class="navbar navbar-expand-sm navbar-dark mb-4 p-0 nav-logo" role="navigation" *ngIf="currentUser">
  <img [src]="logo" alt="" class="logo img-thumbnail">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a class="navbar-brand title" href="#">{{title}}</a>
      </li>
    </ul>
    <form class="form-inline">
      <a class="btn btn-link" (click)="logout()">Logout</a>
    </form>
  </div>
</nav>

<div class="container">
  <app-alert></app-alert>
  <router-outlet></router-outlet>
</div>
